html{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, red, purple, blue);
}
main{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
}
h1{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
input{
    margin-top: 10px;
}
p{
    margin-top: 50px;
    color: aliceblue;
}
    
      